{{define "body"}}
    <main class="gc-page">
        <div class="login-box">
            <h2 class="login-box__title">
              {{.Translations.RegisterUserTitle}}
            </h2>

          {{if .Params.IsError}}
            <div class="login-box__alert">
              {{ if eq .Params.ErrorType "user_exists" }}
                {{.Translations.RegisterUserErrorUserExists}}
              {{ else }}
                {{.Translations.RegisterUserErrorUnknown}}
              {{ end }}
            </div>
          {{end}}

            <form action="/login/register" method="post">
                <div class="gc-input">
                    <label class="gc-input__label"
                           for="email-field">
                      {{.Translations.RegisterUserEmailLabel}}
                    </label>
                    <input type="email"
                           class="tst-email gc-input__field"
                           id="email-field"
                           placeholder="Email"
                           name="username">
                </div>
                <div class="gc-input">
                    <label class="gc-input__label"
                           for="password-field">
                      {{.Translations.RegisterUserPasswordLabel}}
                    </label>
                    <input type="password"
                           class="tst-password gc-input__field"
                           id="password-field"
                           placeholder="Password"
                           name="password">
                </div>
                <p>
                    <button type="submit" class="tst-register gc-btn gc-btn--primary">
                      {{.Translations.RegisterUserRegisterButton}}
                    </button>
                    or
                    <a class="tst-register-login gc-link gc-link--primary"
                       href="/login">
                      {{.Translations.RegisterUserLoginButton}}
                    </a>
                    ({{.Translations.RegisterUserIfHaveAccount}})
                </p>
            </form>
        </div>
    </main>
{{end}}
