{{define "nav-login"}}
    <li {{if eq .Name "login"}}class="gc-navigation__option gc-navigation__option--active"{{else}}class="gc-navigation__option"{{end}}
        role="presentation">
        <a class="gc-navigation__link gc-link tst-nav-login" href="/login">
            Login
        </a>
    </li>
{{end}}

{{define "nav-admin"}}
    <li {{if eq .Name "admin"}}class="gc-navigation__option gc-navigation__option--active"{{else}}class="gc-navigation__option"{{end}}
        role="presentation">
        <a class="gc-navigation__link gc-link" href="/admin">
            Admin
        </a>
        <div class="gc-navigation__suboption gc-submenu">
            <div class="gc-submenu__content">
                <a class="gc-submenu__item gc-link" href="/admin/posts">
                    Posts
                </a>
                <a class="gc-submenu__item gc-link" href="/admin/posts/new">
                    Add Post
                </a>
            </div>
        </div>
    </li>
{{end}}

{{define "nav-posts"}}
    <li {{if eq .Name "posts"}}class="gc-navigation__option gc-navigation__option--active"{{else}}class="gc-navigation__option"{{end}}
        role="presentation">
        <a class="gc-navigation__link gc-link" href="/">
            Posts
        </a>
    </li>
{{end}}

{{define "navigation"}}
<header class="gc-header gc-header--default">
    <a class="gc-header__logo" href="/">
        <span class="gc-logo">APP_</span>
    </a>
    <nav class="gc-header__navigation">
        <ul class="gc-navigation">
            {{template "nav-posts" .}}
            {{if .IsLogged}}
                {{template "nav-admin" .}}
            {{end}}
            {{if not .IsLogged}}
                {{template "nav-login" .}}
            {{end}}
            {{if .IsLogged}}
                <li class="gc-navigation__option"
                    role="presentation">
                    <a class="gc-navigation__link gc-link" href="/login/logout">
                        Logout
                    </a>
                </li>
            {{end}}
        </ul>
    </nav>
</header>
{{end}}
