{{define "navigation"}}
<header class="gc-header gc-header--default">
    <a class="gc-header__logo" href="/">
        <span class="gc-logo">APP_</span>
    </a>
    <nav class="gc-header__navigation">
        <ul class="gc-navigation">
            <li class="gc-navigation__option gc-navigation__option--active">
                <a class="gc-navigation__link gc-link" href="/">
                    Main
                </a>
            </li>
        </ul>
    </nav>
</header>
<section class="splash">

</section>
{{end}}
