@import 'components/EditProductDialog/styles';
@import './components/ProductList/styles';

.eshop {
  &__product {
    gap: 7px;
  }

  &__product-price {
    font-size: 16px;
  }

  &__product-list {
    gap: 15px;
    justify-content: center;
  }
}

.eshop-login {
  &__actions {
    gap: $spacing-medium;
  }
}
