@import './components/AddProductDialog/styles';

.eshop {
  &__product {
    gap: 7px;
  }

  &__product-price {
    font-size: 16px;
  }
}

.eshop-login {
  &__actions {
    gap: $spacing-medium;
  }
}
