@import './components/styles';

.translation-dialog {
  &__actions {
    gap: $spacing-medium;
  }

  @include gx-phone {
    width: 80%;
  }

  @include gx-tablet {
    width: 50%;
  }

  @include gx-desktop {
    width: 50%;
  }
}
